.centered {
  text-align: center;
}

.div {
  background-color: gray;
}

li {
  list-style-type: none;
}

.monospaced {
  font-family: monospace;
  text-decoration:underline;
  background:grey;
  font-size:10px;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
  font-weight:normal;
}