.title {
    text-align: center;
      font-size:x-large;
      font-weight:normal;
    }
    .subtitle {
      text-align: center;
      margin:-15px;
    }
    .content {
    font-family: Comic Sans MS;
    }
    
    .emph{
      font-style:italic;
    }